/* Container */
.to-do-container {
    width: 80%;
    margin: 0 auto;
    padding: var(--padding);
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Form */
.to-do-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.to-do-input {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--input-border-color); /* Increase border thickness */
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    background-color: var(--task-color); /* Use darker light color */
    color: var(--text-color); /* Use default text color */
}

.to-do-priority {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
    height: 40px;
}

.to-do-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--add-button-color); /* Use darker primary color */
    color: var(--text-color-light); /* Use lighter text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fafafa;
    font-size: 0.85rem;
    transition: background-color 0.3s ease; /* Add transition effect for background-color */
    height: 40px;
}

.to-do-button:hover {
    background-color: var(--add-button-color-hover); /* Use darker hover color */
}

/* Task list */
.to-do-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.to-do-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--task-color); /* Use darker light color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
}

.to-do-task-description {
    flex: 1;
    color: var(--text-color); /* Use default text color */
    font-size: 1.1rem;
}

.to-do-task-priority {
    border-radius: 5px;
    color: var(--text-color-greyed); /* Use lighter text color */
    width: 138px;

}

.to-do-task-buttons {
    display: flex;
    gap: 10px;
}
.to-do-edit, .to-do-delete, .to-do-complete {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.85rem;
    transition: all 0.3s ease; /* Add transition effect for all properties */
    color: #fafafa;
}

.to-do-edit {
    background-color: var(--edit-button-color); /* Use darker success color */
}

.to-do-delete {
    background-color: var(--delete-button-color); /* Use darker danger color */
}

.to-do-complete {
    background-color: var(--complete-button-color); /* Use darker info color */
}

.to-do-edit:hover {
    background-color: var(--edit-button-color-hover); /* Use darker success color on hover */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); /* Add box-shadow on hover */
}

.to-do-delete:hover {
    background-color: var(--delete-button-color-hover); /* Use darker danger color on hover */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); /* Add box-shadow on hover */
}

.to-do-complete:hover {
    background-color: var(--complete-button-color-hover); /* Use darker info color on hover */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); /* Add box-shadow on hover */
}

.to-do-edit:active {
    transform: scale(0.95); /* Slightly reduce the size of the button when clicked */
}

.to-do-delete:active {
    transform: scale(0.95); /* Slightly reduce the size of the button when clicked */
}

.to-do-complete:active {
    transform: scale(0.95); /* Slightly reduce the size of the button when clicked */
}

.to-do-button:active {
    transform: scale(0.95); /* Slightly reduce the size of the button when clicked */
}

.to-do-empty {
    text-align: center;
    color: var(--text-color-greyed); /* Use lighter text color */
}

/* Task input */
.to-do-task-input {
    flex: 1;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 0.85rem;
    color: var(--text-color); /* Use default text color */
    background-color: var(--task-color); /* Use darker light color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
    height: 26px;
}

.task-priority-dropdown {
    height:  26px;
}

/* Save button */
.to-do-save {
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    color: #fafafa;
    background-color: var(--save-button-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
}

.to-do-save:hover {
    background-color: var(--save-button-color-hover);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.to-do-save:active {
    transform: scale(0.95);
}

.to-do-cancel {
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    color: #fafafa;
    background-color: var(--cancel-button-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Increase shadow for more depth */
}

.to-do-cancel:hover {
    background-color: var(--cancel-button-color-hover);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.to-do-cancel:active {
    transform: scale(0.95);
}

/* Responsive styles */
@media (max-width: 768px) {
    .to-do-container {
        width: 95%; /* Increase width on smaller screens */
    }

    .to-do-form {
        display: grid;
        grid-template-areas: 'input input' 'dropdown button';
    }

    .to-do-input {
        grid-area: input;
    }

    .to-do-button {
        grid-area: button;
    }

    .to-do-priority {
        grid-area: dropdown;
    }

    .to-do-task {
        display: grid;
        grid-template-areas: 'description description'  'priority buttons';
    }

    .to-do-task-description {
        grid-area: description;
    }

    .to-do-task-priority {
        grid-area: priority;
    }

    .to-do-task-buttons {
        grid-area: buttons;
        display: grid;
        grid-template-areas: 'edit delete complete';
    }

    .to-do-edit {
        grid-area: edit;
    }

    .to-do-delete {
        grid-area: delete;
    }

    .to-do-complete {
        grid-area: complete;
    }
}

@media (max-width: 420px) {
    .to-do-container {
        width: 95%;
    }

    .to-do-form {
        display: grid;
        grid-template-areas: 'input' 'dropdown' 'button';
    }

    .to-do-input {
        grid-area: input;
    }

    .to-do-button {
        grid-area: button;
    }

    .to-do-priority {
        grid-area: dropdown;
    }

    .to-do-task {
        display: grid;
        grid-template-areas: 'description'  'priority' 'buttons';
    }

    .to-do-task-description {
        grid-area: description;
    }

    .to-do-task-priority {
        grid-area: priority;
    }

    .to-do-task-buttons {
        grid-area: buttons;
        display: grid;
        grid-template-areas: 'edit' 'delete' 'complete';
    }

    .to-do-edit {
        grid-area: edit;
    }

    .to-do-delete {
        grid-area: delete;
    }

    .to-do-complete {
        grid-area: complete;
    }
}